---
import type { HTMLAttributes } from "astro/types";

import vt323Url from "@fontsource/vt323/files/vt323-latin-400-normal.woff2?url";
import firaCodeUrl from "@fontsource-variable/fira-code/files/fira-code-latin-wght-normal.woff2?url";
import ibmPlexMonoUrl from "@fontsource/ibm-plex-mono/files/ibm-plex-mono-latin-400-normal.woff2?url";

import "@fontsource/vt323";
import "@fontsource-variable/fira-code";
import "@fontsource/ibm-plex-mono";

interface Props extends HTMLAttributes<"head"> {
  /** The title of the page. If omitted, defaults to "swagLGBT" */
  title?: string;
}

const { title = "swagLGBT" } = Astro.props;

const backgroundColor = "#000000";
const foregroundColor = "#ffffff";
---

<style define:vars={{ backgroundColor, foregroundColor }}>
  body {
    background-color: var(--backgroundColor);
    color: var(--foregroundColor);
  }
</style>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- Icons -->
    <link
      rel="icon"
      type="image/png"
      href="/favicon/favicon-96x96.png"
      sizes="96x96"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />

    <meta name="apple-mobile-web-app-title" content="swagLGBT" />
    <link rel="manifest" href="/favicon/site.webmanifest" />

    <!-- Fonts -->
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={vt323Url}
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={firaCodeUrl}
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={ibmPlexMonoUrl}
      crossorigin="anonymous"
    />

    <title>{title}</title>

    <slot name="head" />
  </head>
  <body>
    <slot />
  </body>
</html>
